body {
  background: #e3cc05;
}

.container {
  margin: 0 8rem;
}

.text-center {
  text-align: center;
}

ul {
  list-style: none;
}
li {
  list-style: none;
}
//margine
.mx-r {
  margin-right: 7rem;
}
.my-t {
  margin-top: 0.48rem;
}

img {
  &:hover {
    cursor: pointer;
  }
}
